.tasks-group__title {
  background-color:  $accent-color;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  color: $primary-color;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1;
}