.task {
  
  &__title {
    word-wrap: break-word;
    margin-bottom: 10px;
  
    &--done {
      text-decoration: line-through; 
    }
  }
  
  &__edit-input {
    background-color: transparent;
    border: 1px solid $border-color;
    padding: 1px;
    margin-bottom: 1px;
    width: 100%;
  }
  
  &__icon {
    background-color: $text-color;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 3px;

    &--finish {
      color: green;
    }

    &--remove {
      color: red;
    }
  }
}