$text-color: #FFFFFF;
$accent-color: #61b2a7;
$primary-color: #222222;
$border-color: #333333;

html {
	font-size: 62.5%;
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 1.6rem;
	height: 100%;
	overflow: hidden;
}

.todo-wrapper {
	height: 100%;

	@media(min-width: 768px) {
		& {
			display: flex;
			flex-direction: row;
		}
	}
}

@import './menu/hamburger-btn/hamburger-btn.style';
@import './menu/menu.style';
@import './menu/new-category/new-category.style';
@import './tasks/tasks-list/tasks-list.style';
@import './home/home.style';
@import './menu/back-shadow/back-shadow.style';
