<div class="modal-header">
    <h3 class="modal-title">New Task</h3>
</div>
<div class="modal-body">
   <form name="newTaskForm" id="newTaskForm" novalidate>
		<div class="form-group">
			<label for="new-task-title">Title</label>
			<input ng-model="newTaskCtrl.task.title" type="text" class="form-control" id="new-task-title" ng-required="true">
		</div>
		<div class="form-group">
			<label for="new-task-date">Date</label>
		    <div class="input-group">
			   <input type="text" id="new-task-date" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="newTaskCtrl.task.date" is-open="newTaskCtrl.dateOptions.opened" datepicker-options="newTaskCtrl.dateOptions" ng-required="true" ng-click="newTaskCtrl.openCal()" close-text="Close" />
			   <span class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="newTaskCtrl.openCal()"><i class="glyphicon glyphicon-calendar"></i></button>
	          </span>
          </div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" ng-click="newTaskCtrl.addTask()" class="btn btn-success" ng-disabled="newTaskForm.$invalid">Submit</button>
	<button type="button" ng-click="newTaskCtrl.cancel()" class="btn btn-danger">Cancel</button>
</div>